:root {


  /* ===========================
   Borders
=========================== */

  --border-width-thin: 1px;
  --border-width-medium: 2px;
  --border-width-thick: 3px;

  --border-default: var(--border-width-thin) solid var(--color-border);

  --border-focus: var(--border-width-medium) solid var(--color-primary);

  --border-danger: var(--border-width-thin) solid var(--color-danger);

  --border-success: var(--border-width-thin) solid var(--color-success);
}